<!DOCTYPE html>
<html>
	<head runat="server">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width" />
		<title>Р7 Офис Document Editors</title>
		<link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
		<link
			rel="stylesheet"
			type="text/css"
			href="https://fonts.googleapis.com/css?family=Open+Sans:900,800,700,600,500,400,300&subset=latin,cyrillic-ext,cyrillic,latin-ext"
		/>
		<link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" />
		<link rel="stylesheet" type="text/css" href="stylesheets/jquery-ui.css" />
	</head>
	<body>
		<header>
			<a href="">
				<img src="images/logo.png" alt="Р7 Офис" />
			</a>
		</header>
		<div class="main-panel">
			<span class="portal-name">Вас приветствуют: Р7 Офис Редакторы Документов!</span>
			<br />
			<br />
			<span class="portal-descr"
				>Начните с демонстрационного примера Редакторов Документов Р7 Офис, первых редакторов на основе HTML5. Вы можете загрузить свои
				собственные документы для тестирование с помощью кнопки «Загрузить файл» и выбора необходимых файлов на ПК.</span
			>
			<table class="user-block-table" cellspacing="0" cellpadding="0">
				<tr>
					<td valign="middle" width="30%">
						<span class="select-user">Имя пользователя:</span>
						<select class="select-user" id="user">
							<option value="uid-1">Кравченко Иван</option>
							<option value="uid-2">Миронов Валерий</option>
							<option value="uid-3">Мишин Николай</option>
						</select>
					</td>
					<td valign="middle" width="70%">
						Выберите имя пользователя перед открытием документа; вы можете открыть один и тот же документ, используя разных пользователей в
						разных браузерах сессий, так что вы можете проверить функции многопользовательского редактирования.
					</td>
				</tr>
				<tr>
					<td valign="middle" width="30%">
						<select class="select-user" id="language">
							<option value="ru">Русский</option>
							<option value="en">Английский</option>
							<option value="bg">Болгарский</option>
							<option value="zh">Китайский</option>
							<option value="cs">Чешский</option>
							<option value="nl">Нидерландский</option>
							<option value="fr">Французский</option>
							<option value="de">Немецкий</option>
							<option value="hu">Венгерский</option>
							<option value="it">Итальянский</option>
							<option value="ja">Японский</option>
							<option value="ko">Корейский</option>
							<option value="lv">Латышский</option>
							<option value="pl">Польский</option>
							<option value="pt">Португальский</option>
							<option value="sk">Словацкий</option>
							<option value="sl">Словенский</option>
							<option value="es">Испанский</option>
							<option value="tr">Турецкий</option>
							<option value="uk">Украинский</option>
							<option value="vi">Вьетнамский</option>
						</select>
					</td>
					<td valign="middle" width="70%">Выберите язык интерфейса для редактора Р7 Офис.</td>
				</tr>
			</table>
			<br />
			<br />

			<div class="help-block">
				<span>Загрузите свой файл и создайте новый</span>
				<br />
				<br />
				<div class="clearFix">
					<div class="upload-panel clearFix">
						<a class="file-upload"
							>Загрузить
							<br />
							Файл
							<input type="file" id="fileupload" name="uploadedFile" data-url="upload?<%= params %>" />
						</a>
					</div>
					<div class="create-panel clearFix">
						<ul class="try-editor-list clearFix">
							<li>
								<a class="try-editor document reload-page" target="_blank" href="editor?fileExt=docx<%= params %>">Создать<br />Документ</a>
							</li>
							<li>
								<a class="try-editor spreadsheet reload-page" target="_blank" href="editor?fileExt=xlsx<%= params %>"
									>Создать<br />Таблицу</a
								>
							</li>
							<li>
								<a class="try-editor presentation reload-page" target="_blank" href="editor?fileExt=pptx<%= params %>"
									>Создать<br />Презентацию</a
								>
							</li>
						</ul>
						<label class="create-sample"
							><input type="checkbox" id="createSample" class="checkbox" />Создайте файл, заполненный образцом содержимого</label
						>
					</div>
				</div>
			</div>
			<br />
			<br />

			<% if (storedFiles.length > 0) { %>
			<br />
			<div class="help-block">
				<span>Ваши документы</span>
				<br />
				<br />
				<div class="stored-list">
					<table cellspacing="0" cellpadding="0" width="100%">
						<thead>
							<tr class="tableHeader">
								<td class="tableHeaderCell tableHeaderCellFileName">Имя файла</td>
								<td colspan="6" class="tableHeaderCell contentCells-shift">Редакторы</td>
								<td colspan="3" class="tableHeaderCell">Способы просмотра</td>
							</tr>
						</thead>
						<tbody>
							<% for (var i = 0; i < storedFiles.length; i++) { %>
							<tr class="tableRow" title="<%= storedFiles[i].name %> [<%= storedFiles[i].version %>]">
								<td class="contentCells">
									<a
										class="stored-edit <%= storedFiles[i].documentType %>"
										href="editor?fileName=<%= encodeURIComponent(storedFiles[i].name) + params %>"
										target="_blank"
									>
										<span title="<%= storedFiles[i].name %> [<%= storedFiles[i].version %>]"><%= storedFiles[i].name %></span></a
									>
									<a href="download?fileName=<%= encodeURIComponent(storedFiles[i].name) %>">
										<img class="icon-download" src="images/download-24.png" alt="Скачать" title="Скачать"
									/></a>
									<a class="delete-file" data="<%= encodeURIComponent(storedFiles[i].name) %>">
										<img class="icon-delete" src="images/delete-24.png" alt="Удалить" title="Удалить"
									/></a>
								</td>
								<% if (storedFiles[i].canEdit) { %>
								<td class="contentCells contentCells-icon">
									<a href="editor?type=desktop&fileName=<%= encodeURIComponent(storedFiles[i].name) + params %>" target="_blank">
										<img
											src="images/desktop-24.png"
											alt="Открыть в редакторе для полноразмерных экранов"
											title="Открыть в редакторе для полноразмерных экранов"
									/></a>
								</td>
								<td class="contentCells contentCells-icon">
									<a href="editor?type=mobile&mode=edit&fileName=<%= encodeURIComponent(storedFiles[i].name) + params %>" target="_blank">
										<img
											src="images/mobile-24.png"
											alt="Открыть в редакторе для мобильных устройств"
											title="Открыть в редакторе для мобильных устройств"
									/></a>
								</td>
								<td class="contentCells contentCells-icon">
									<% if (storedFiles[i].documentType == "text") { %>
									<a
										href="editor?type=desktop&mode=review&fileName=<%= encodeURIComponent(storedFiles[i].name) + params %>"
										target="_blank"
									>
										<img src="images/review-24.png" alt="Открыть в редакторе для просмотра" title="Открыть в редакторе для просмотра"
									/></a>
									<% } else if (storedFiles[i].documentType == "spreadsheet") { %>
									<a
										href="editor?type=desktop&mode=filter&fileName=<%= encodeURIComponent(storedFiles[i].name) + params %>"
										target="_blank"
									>
										<img
											src="images/filter-24.png"
											alt="Открыть в редакторе без доступа для изменения фильтра"
											title="Открыть в редакторе без доступа для изменения фильтра"
									/></a>
									<% } %>
								</td>
								<td class="contentCells contentCells-icon">
									<a
										href="editor?type=desktop&mode=comment&fileName=<%= encodeURIComponent(storedFiles[i].name) + params %>"
										target="_blank"
									>
										<img
											src="images/comment-24.png"
											alt="Открыть в редакторе для комментариев"
											title="Открыть в редакторе для комментариев"
									/></a>
								</td>
								<td class="contentCells contentCells-icon">
									<% if (storedFiles[i].documentType == "text") { %>
									<a
										href="editor?type=desktop&mode=fillForms&fileName=<%= encodeURIComponent(storedFiles[i].name) + params %>"
										target="_blank"
									>
										<img
											src="images/fill-forms-24.png"
											alt="Открыть в редакторе для заполнения форм"
											title="Открыть в редакторе для заполнения форм"
									/></a>
									<% } %>
								</td>
								<td class="contentCells contentCells-shift contentCells-icon">
									<% if (storedFiles[i].documentType == "text") { %>
									<a
										href="editor?type=desktop&mode=blockcontent&fileName=<%= encodeURIComponent(storedFiles[i].name) + params %>"
										target="_blank"
									>
										<img
											src="images/block-content-24.png"
											alt="Открыть в редакторе без изменения элемента управления содержимым"
											title="Открыть в редакторе без изменения элемента управления содержимым"
									/></a>
									<% } %>
								</td>
								<% } else { %>
								<td class="contentCells contentCells-shift contentCells-icon" colspan="5"></td>
								<% } %>
								<td class="contentCells contentCells-icon">
									<a href="editor?type=desktop&mode=view&fileName=<%= encodeURIComponent(storedFiles[i].name) + params %>" target="_blank">
										<img
											src="images/desktop-24.png"
											alt="Открыть в программе просмотра для полноразмерных экранов"
											title="Открыть в программе просмотра для полноразмерных экранов"
									/></a>
								</td>
								<td class="contentCells contentCells-icon">
									<a href="editor?type=mobile&mode=view&fileName=<%= encodeURIComponent(storedFiles[i].name) + params %>" target="_blank">
										<img
											src="images/mobile-24.png"
											alt="Открыть в программе просмотра для мобильных устройств"
											title="Открыть в программе просмотра для мобильных устройств"
									/></a>
								</td>
								<td class="contentCells contentCells-icon">
									<a
										href="editor?type=embedded&mode=embedded&fileName=<%= encodeURIComponent(storedFiles[i].name) + params %>"
										target="_blank"
									>
										<img src="images/embeded-24.png" alt="Открыть во встроенном режиме" title="Открыть во встроенном режиме"
									/></a>
								</td>
							</tr>
							<% } %>
						</tbody>
					</table>
				</div>
			</div>
			<% } %>
			<br />
			<br />
			<br />
			<div class="help-block" hidden>
				<span>Хотите узнать волшебство?</span>
				<br />
				Изучите <a href="http://api.onlyoffice.com/editors/howitworks" target="_blank">API документацию</a> редакторов документов Р7 Офис.
			</div>
			<br />
			<br />
			<br />
			<div class="help-block">
				<span>Остались вопросы?</span>
				<br />
				Пожалуйста, <a href="mailto:sales@onlyoffice.com">напишите нам</a>.
			</div>
		</div>

		<div id="mainProgress">
			<div id="uploadSteps">
				<span id="step1" class="step">1. Загрузка файла</span>
				<span class="step-descr"
					>Процесс загрузки файла займет некоторое время в зависимости от размера файла, наличия или отсутствия в нем дополнительных
					элементов. (макросы и т. д.) и скорость соединения.</span
				>
				<br />
				<span id="step2" class="step">2. Преобразование файлов</span>
				<span class="step-descr"
					>Файл конвертируется в формат Office Open XML для более быстрого просмотра и редактирования документа.</span
				>
				<br />
				<span id="step3" class="step">3. Загрузка сценариев редактора</span>
				<span class="step-descr"
					>Сценарии для редактора загружаются только один раз и в дальнейшем будут кэшироваться на вашем компьютере. Это может занять
					некоторое время в зависимости от скорости соединения.</span
				>
				<input type="hidden" name="hiddenFileName" id="hiddenFileName" />
				<br />
				<br />
				<span class="progress-descr"
					>Обратите внимание, что скорость всех операций во многом зависит от расположения сервера и клиента. Если они отличаются или
					расположены в разных странах / на разных континентах, может быть нехватка скорости и большее время ожидания. Наилучшие результаты
					достигаются, когда серверный и клиентский компьютеры находятся в одном месте (городе).</span
				>
				<br />
				<br />
				<div class="error-message">
					<span></span>
					<br />
					Пожалуйста, выберите другой файл и попробуйте еще раз. Если есть вопросы, пожалуйста
					<a href="mailto:sales@onlyoffice.com">свяжитесь с нами.</a>
				</div>
			</div>
			<br />
			<div id="beginEmbedded" class="button disable">Встроенный вид</div>
			<div id="beginView" class="button disable">Посмотреть</div>
			<div id="beginEdit" class="button disable">Редактировать</div>
			<div id="cancelEdit" class="button gray">Отмена</div>
		</div>

		<span id="loadScripts" data-docs="<%= preloaderUrl %>"></span>

		<footer>© 2020 АО «Новые коммуникационные технологии»</footer>

		<script type="text/javascript" src="javascripts/jquery-1.8.2.js"></script>
		<script type="text/javascript" src="javascripts/jquery-ui.js"></script>
		<script type="text/javascript" src="javascripts/jquery.blockUI.js"></script>
		<script type="text/javascript" src="javascripts/jquery.iframe-transport.js"></script>
		<script type="text/javascript" src="javascripts/jquery.fileupload.js"></script>
		<script type="text/javascript" src="javascripts/jquery.dropdownToggle.js"></script>
		<script type="text/javascript" src="javascripts/jscript.js"></script>

		<script type="text/javascript">
			var ConverExtList = '<%= convertExts %>';
			var EditedExtList = '<%= editedExts %>';
			var UrlConverter = 'convert';
			var UrlEditor = 'editor';
		</script>
	</body>
</html>
